body{
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.bodyDiv{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */
header{
    background-color: black;
    height: 64px;
}

.headDiv{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
}

.logo{
    width: 40px;
}

.logoDiv{
    width: 40px;
    display: flex;
    align-items: center;
}

button{
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0;
}

.menuDiv{
    width: 100%;
    max-width: 270px;
}

.menuDiv button{
    height: 64px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
}

.menuTextDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menuTextDiv h1{
    display: inline-block;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    color: white;
}

.menuImg{
    display: inline-block;
    width: 16px;
}

.menuProgression{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.progressionItem{
    width: 12%;
    height: 6px;
    background-color: gray;
    border-radius: 4px;
}

.profileDiv{
    width: 40px;
}

.profileDiv button{
    width: 100%;
}

.profileDiv button img{
    width: 100%;
}

/* main */
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 128px) !important;
}

.lessonDiv{
    width: 33.33%;
    height: 100%;
    overflow-y: auto;
}

.lessonDiv .grayDiv{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: rgb(240, 240, 240);
}

.learnDiv{
    position: sticky;
    top: 0;
}

.grayDiv img{
    margin: 0.75rem;
    width: 20px;
}

.grayDiv h2{
    font-size: 1rem;
    font-weight: bold;
}

.paragraphDiv{
    margin: 1rem;
    width: 90%;
}

.paragraphDiv h3{
    text-transform: uppercase;
    font-size: 1rem;
    color: gray;
}

.paragraphDiv h4{
   font-size: 1.5rem; 
   margin: 0;
   font-weight: 800;
}

.lessonDiv p{
    font-size: 1.1rem;
}

.visualDiv{
    width: 66.66%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
}

.visualDiv img{
    height: 90%;
}

/* footer */
footer{
    background-color: black;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerDiv{
    height: 64px;
    width: 33vw;
    display: flex;
    align-items: center;
}

.pagenumDiv{
    display: flex;
    justify-content: center;
}

.pagenumDiv h1{
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

.buttonDiv{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.buttonDiv button{
    margin: 0 1rem;
    height: 46px;
    width: 100%;
    max-width: 90px;
    color: gray;
    font-weight: 900;
}

.backButton{
    border: solid 2px gray;
    border-radius: 8px;
}

.buttonDiv .nextButton{
    color: black;
    background-color: #FFD300;
    border-radius: 8px;
}

@media only screen and (max-device-width: 1023px) {
    main{
        flex-direction: column-reverse;
    }
    .lessonDiv{
        width: 100%;
        height: 50%;
        overflow-y: auto;
    }
    .visualDiv{
        width: 100%;
        height: 50%;
    }
}